---
import BaseLayout from '@/layouts/base.astro'
import TestDummy from '@/components/TestDummy/TestDummy.vue'
---

<BaseLayout>
  <h1 class="text-primary display-1">Index</h1>
  <TestDummy client:load />
</BaseLayout>
