---
import BaseLayout from '@/layouts/base.astro'
---

<BaseLayout>
  
  <header class="bg-primary text-white text-center py-5 pb-4 mb-0">
    <h1>Mike Churvis</h1>
    <h4>Full-Stack Web Developer</h4>
    <pre class="mb-0">&lbrace; JAMstack Apps | APIs | SPAs &rbrace;</pre>
  </header>

  <nav class="bg-primary navbar navbar-dark justify-content-around">
    <a class="nav-link nav-item text-white" href="">Skills</a>
    <a class="nav-link nav-item text-white" href="">About</a>
    <a class="nav-link nav-item text-white" href="">Contact</a>
  </nav>

  <main class="py-3 px-2 text-body">
    <section id="skills" data-site-navbar="Skills">
      <div class="row">
        <hr class="col align-self-center mt-2">
        <h2 class="col-auto">What I Do</h2>
        <hr class="col align-self-center mt-2">
      </div>

      <p class="text-center text-black-50"><small>(click/tap the colored pills to learn more)</small></p>
  
      <div class="row">
        <div class="col-6">
          I write frontends.
          <ul>
            <li>Vue</li>
            <li>TypeScript</li>
            <li>Astro</li>
          </ul>
        </div>
  
        <div class="col-6">
          I write backends.
          <ul>
            <li>Django</li>
            <li>Docker</li>
            <li>Nginx</li>
          </ul>
        </div>
  
        <div class="col-6">
          I uphold principles.
          <ul>
            <li>CI/CD</li>
            <li>12-Factor</li>
            <li>BDD</li>
          </ul>
        </div>
  
        <div class="col-6">
          I test <em><strong>everything.</strong></em>
          <ul>
            <li>Cypress</li>
            <li>Vitest</li>
            <li>Pytest</li>
          </ul>
        </div>
      </div>

      <div>
        Check out this website's 
        <a href="" class="btn btn-sm btn-dark text-white">
          <i class="bi bi-github"></i>
          GitHub Repo
        </a> 
        to see all of the above in action.
      </div>
    </section>

    <section id="about" class="mt-3" data-site-navbar="About">
      <div class="row">
        <hr class="col align-self-center mt-2">
        <h2 class="col-auto">Who I Am</h2>
        <hr class="col align-self-center mt-2">
      </div>
      <img src="" alt="My face">
      <div>
        - GitHub
        - LinkedIn
        - Discord
        - Twitter
      </div>
      <div>
        <p>
          Hi! I'm Mike, a web developer based near Atlanta, Georgia.
        </p>
        <p>
          I built this website from scratch five times.
          Each time, I built it a different way.
          Each way had its ups, downs, and dead-ends;
          I studied each in detail.
          I learned to not spurn these impediments as mere failures,
          but welcome them as chances to understand *why* things fail.
        </p>
        <p>
          I bring this philosophy to everything I do.
          I learn by doing, and I love to learn.
        </p>
      </div>
    </section>

    <section id="contact" class="mt-3" data-site-navbar="Contact">
      <div class="row">
        <hr class="col align-self-center mt-2">
        <h2 class="col-auto">Contact Me</h2>
        <hr class="col align-self-center mt-2">
      </div>
      <p>
        If you have any questions or if my skillset would be useful to your firm, 
        use this form to send me a message.
      </p>
      <form>
        <input type="text">
        <input type="email">
        <textarea></textarea>
        <button>Send</button>
      </form>
    </section>
  </main>

  <footer>
    &copy; 2022 Mike Churvis
    <button>Return to Top</button>
  </footer>
</BaseLayout>
